{% if user.is_authenticated %}
  <form action="{% url 'articles:favorite' article.id %}" method="post" style="display:inline-block">
    {% csrf_token %}
    <button type="submit" class="btn {% if is_favorite %}btn-primary{% else %}btn-outline-primary{% endif %} btn-sm">
      <span>
        <i class="ion-heart"></i>
      </span>
      <span>{{ is_favorite|yesno:'Unfavorite Article,Favorite Article' }}</span>
      <span class="counter">({{ num_favorites }})</span>
    </button>
  </form>
{% else %}
  <a href="{% url 'login' %}" class="btn btn-sm btn-outline-primary">
    <span>
      <i class="ion-heart"></i>
    </span>
    <span>Favorite Article</span>
    <span>({{ num_favorites }})</span>
  </a>
{% endif %}
