{% if user == article.author %}
  <button class="btn btn-outline-secondary btn-sm pull-xs-right" disabled>
    <span>
      <i class="ion-heart"></i>
    </span>
    <span>{{ num_favorites }}</span>
  </button>
{% elif user.is_authenticated %}
  <form action="{% url 'articles:favorite' article.id %}" method="post" style="display:contents">
    {% csrf_token %}
    <button type="submit" class="btn {% if is_favorite %}btn-primary{% else %}btn-outline-primary{% endif %} btn-sm pull-xs-right" title="{{ is_favorite|yesno:'Unfavorite Article,Favorite Article' }}">
      <span>
        <i class="ion-heart"></i>
      </span>
      <span>{{ num_favorites }}</span>
    </button>
  </form>
{% else %}
  <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm pull-xs-right">
    <span>
      <i class="ion-heart"></i>
    </span>
    <span>{{ num_favorites }}</span>
  </a>
{% endif %}
