{% load widget_tweaks %}

<form action="{% url 'register' %}" method="post">
  {% csrf_token %}

  {% if form.errors %}
    <ul class="error-messages">
      {% for error in form.errors.values %}
        {{ error.as_text }}
      {% endfor %}
    </ul>
  {% endif %}

  {% with WIDGET_CLASS="form-control form-control-lg" %}
    <fieldset class="form-group">
      {% render_field form.name placeholder="Your Name" class+=WIDGET_CLASS %}
    </fieldset>
    <fieldset class="form-group">
      {% render_field form.email placeholder="Email" class+=WIDGET_CLASS %}
      <div id="email-exists"></div>
    </fieldset>
    <fieldset class="form-group">
      {% render_field form.password placeholder="Password" class+=WIDGET_CLASS %}
    </fieldset>
  {% endwith %}

  <button type="submit" class="btn btn-lg btn-primary pull-xs-right">Sign up</button>
</form>
