<div class="card">
  <div class="card-block">
    <p class="card-text">{{ comment.content|linebreaksbr }}</p>
  </div>
  <div class="card-footer">
    <a href="{{ comment.author.get_absolute_url }}" class="comment-author">
      {% if comment.author.image %}
        <img src="{{ comment.author.image }}" class="comment-author-img" width="20px" height="100%" alt="user image" />
      {% else %}
        <img src="https://api.realworld.io/images/smiley-cyrus.jpeg" class="comment-author-img" width="20px" height="100%" alt="user image" />
      {% endif %}
    </a>&nbsp;&nbsp;
    <a href="{{ comment.author.get_absolute_url }}" class="comment-author">{{ comment.author.get_full_name }}</a>
    <span class="date-posted">{{ comment.created|date:"F j, Y" }}</span>

    {% if user.is_authenticated and user == comment.author %}
      <div class="mod-options">
        <form action="{% url 'comments:delete' comment.id %}" method="post" up-confirm="Really delete?">
          {% csrf_token %}
          <button type="submit" style="line-height:0;border:none;background:transparent;outline:none">
            <i class="ion-trash-a"></i>
          </button>
        </form>
      </div>
    {% endif %}
  </div>
</div>
