{% if user.is_authenticated %}
  <form action="{% url 'follow' followed.id %}" method="post" style="display:inline-block">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm {% if is_following %}btn-secondary{% else %}btn-outline-secondary{% endif %} action-btn">
      <span>
        <i class="ion-{{ is_following|yesno:'minus,plus' }}-round"></i>
      </span>&nbsp;
      <span>{{ is_following|yesno:'Unfollow,Follow' }} {{ followed.name }}</span>
    </button>
  </form>
{% else %}
  <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-sm action-btn">
    <span>
      <i class="ion-plus-round"></i>
    </span>&nbsp;
    <span>Follow {{ followed.name }}</span>
  </a>
{% endif %}
