{% if not user.is_authenticated or user == article.author %}
  <button class="btn btn-outline-secondary btn-sm pull-xs-right" disabled>
    <i class="ion-heart"></i>&nbsp;{{ num_favorites }}
  </button>
{% else %}
  <form action="{% url 'favorite' article.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-{{ is_favorite|yesno:'secondary,primary' }} btn-sm pull-xs-right" title="{{ is_favorite|yesno:'Remove from Favorites,Add to Favorites' }}">
      <i class="ion-heart"></i>&nbsp;Favorite Post&nbsp;
      <span class="counter">({{ num_favorites }})</span>
    </button>
  </form>
{% endif %}
