{% extends "base.html" %}

{% block content %}
<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          {% if profile.image %}
            <img src="{{ profile.image }}" class="user-img" width="100%" height="100%" alt="profile image"  />
          {% else %}
            <img src="https://api.realworld.io/images/smiley-cyrus.jpeg" class="user-img" width="100%" height="100%" alt="profile image"  />
          {% endif %}
          <h4>{{ profile.name }}</h4>
          <p>{{ profile.bio }}</p>
          {% if user == profile %}
            <a href="{% url 'settings' %}" class="btn btn-sm btn-outline-secondary action-btn">
              <span>
                <i class="ion-gear-a"></i>
              </span>
              <span>Edit Profile Settings</span>
            </a>
            {% if user.is_staff or user.is_superuser %}
              <a href="{% url 'admin:index' %}" target="_blank" class="btn btn-sm btn-outline-secondary action-btn" style="margin:0 3px">
                <span>
                  <i class="ion-gear-a"></i>
                </span>
                <span>Dashboard</span>
              </a>
            {% endif %}
          {% else %}
            <div class="pull-xs-right">
              {% include "realworld/accounts/partials/follow_btn.html" with followed=profile %}
            </div>
          {% endif %}
          <div class="pull-xs-left">
            <a href="#">
              <b>Following: {{ profile.followers.count }}</b>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="#">
              <b>Followers: {{ profile.following.count }}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a href="{{ request.path }}" class="nav-link{% if not 'favorites' in request.get_full_path %} active{% endif %}">
                {% if user == profile %}
                  <span>My Articles</span>
                {% else %}
                  <span>Articles</span>
                {% endif %}
              </a>
            </li>
            {% if user == profile %}
              <li class="nav-item">
                <a href="{{ request.path }}?favorites" class="nav-link{% if 'favorites' in request.get_full_path %} active{% endif %}">Favorited Articles</a>
              </li>
            {% endif %}
          </ul>
        </div>

        {% for article in articles %}
          {% include "realworld/articles/partials/article.html" %}
        {% empty %}
          <div class="article-preview">No articles are here... yet.</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
